#Sets

*A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.*

In [ ]:
seteg = {"apple", "banana", "cherry"}
print(seteg)

{'banana', 'cherry', 'apple'}

 ***You cannot access items in a set by referring to an index or a key.***

***But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.***

In [ ]:
seteg = {"apple", "banana", "cherry"}

for x in seteg:
  print(x)

banana
cherry
apple

**Once a set is created, you cannot change its items, but you can add new items.**

#**Get the Length of a Set**
*To determine how many items a set has, use the len() method.*

In [ ]:
seteg = {"apple", "banana", "cherry"}

print(len(seteg))

3

#**Remove Item**


*To remove an item in a set, use the remove(), or the discard() method.*

In [ ]:
seteg = {"apple", "banana", "cherry"}

seteg.remove("banana")

print(seteg)

{'cherry', 'apple'}

#**Join Two Sets**


*You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:*

In [ ]:
#union() method
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

In [ ]:
#update() method

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)