In [5]:
#Question 1

a=2+4j
b=1+2j
add=a+b
print("add=",add)

add= (3+6j)

In [6]:
a=2+4j
b=1+2j
sub=a-b
print("sub=",sub)

sub= (1+2j)

In [7]:
mul=a*b
print("mul=",mul)

mul= (-6+8j)

In [8]:
div=a/b
print("div=",div)

div= (2+0j)

In [9]:
mod=a%b
print("mod=",mod)

TypeError: ignored

In [10]:
flr=a//b
print("flr=",flr)

TypeError: ignored

In [12]:

#Addition,Mutiplication, Subtraction and Division operation can be performed over complex numbers but not modulo and floor division

#**Range**

*range()* is basically a function that returns sequence of integer numbers that start with default integer 0, it has 3 parameters:

##start:

Represents position to start(default is 0)

##stop:

Represents position before which iteration need to stop

##step:

Represents incrementation( default is 1)

### Syntax:

***range(start,stop,step)***

In [20]:
#Example for range:
for i in range(1,10,1):
  print(i)

1
2
3
4
5
6
7
8
9

In [23]:
for j in range(10,0,-1):
  print(j)

10
9
8
7
6
5
4
3
2
1

In [28]:
#Question 3
a=int(input("Enter first Number"))
b=int(input("Enter second number"))
sub1=a-b
if sub1>25:
  print(a*b," i.e. multiplication")
else:
  print(a/b," i.e. division")

Enter first Number50
Enter second number30
1.6666666666666667  i.e. division

In [30]:
# Question 4
n=[10,15,20,25,30,35,40]
for i in n:
  if(i%2==0):
    print(i**2-2)

98
398
898
1598

In [32]:
#Question 5
n=range(1,21)
for i in n:
  if(i>7):
    if(i%2==0):
      print(i)

8
10
12
14
16
18
20